<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="results">
        <strong>Color</strong>
        <select name="color">
            <option value="pink" name="color">Pink</option>
            <option value="blue" name="color">Blue</option>
            <option value="green" name="color">Green</option>
            <option value="red" name="color">Red</option>
        </select>
        <br><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>