<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <form method="post" action="">
        <strong>Color</strong>

        <check if="{{ isset(@errors['color']) }}">
            <p>{{ @errors['color'] }}</p>
        </check>

        <select class="form-control" name="color" id="color">
            <option>--Select a color--</option>
            <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                <option>
                    <check if="{{ @colorOption == @color }}">selected</check>
                    {{ @colorOption }}
                </option>
            </repeat>
        </select>
        <br><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>